body {
   background-color:  #ffff00;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 10em;
}

h2 {
    color: #6b6d70;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.body-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 100px;
    height: 400px;
}

.body-container1{
    text-align: center;
    display: none;
    top: -10px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    background-color:#222;
    padding-top: 25px;
}




