<div class="body-container1">
    <div class="bg-color"><h1>Projects</h1></div>
    <div class="row">
        <div class="col-sm-4"><h2>The Hooties</h2></div>
        <div class="col-sm-4"><h2>Strava Data</h2></div>
        <div class="col-sm-4"><h2>Splinter and Dust</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><a href="/projects/project1"><img src="assets\images\smartmockups_j777w2zs.png" width="400" height="300"></a></div>
        <div class="col-sm-4"><a href="/projects/project2"><img src="assets\images\smartmockups_j7781r92.png" width="400" height="300"></a></div>
        <div class="col-sm-4"><a href="/projects/project3"><img src="assets\images\smartmockups_j7799ci3.png" width="400" height="300"></a></div>
    </div>
    <div class="row">
        <div class="upbutton col-sm-4 col-sm-offset-4"><a href="#"><span class="fa fa-arrow-circle-up fa-4x" aria-hidden="true"></span></a></div>
    </div>
</div>
<div class="body-container">
    <h1>Hello, I am James.</h1>
    <h1>A Web Developer.</h1>
    <h2>Full Stack Web Developer</h2>
    <h2><i class="devicon-html5-plain"></i>HTML / <i class="devicon-css3-plain"></i>CSS / <i class="devicon-django-plain"></i>Django / <i class="devicon-angularjs-plain"></i>AngularJs / <i class="devicon-javascript-plain"></i>Javascript / <i class="devicon-jquery-plain"></i>jQuery / <i class="devicon-python-plain"></i>Python </h2>
</div>

