<div class="container">
   <h2>Videos</h2>
   <div class="row">
      <div class="col-sm-6">
         <h3>Babel</h3>
         <iframe width="555" height="300" src="https://www.youtube.com/embed/iWza_On7ajs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
         <h3>I will wait</h3>
         <iframe width="555" height="300" src="https://www.youtube.com/embed/rGKfrgqWcv0" frameborder="0" allowfullscreen></iframe>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <h3>Little Lion Man</h3>
         <iframe width="555" height="300" src="https://www.youtube.com/embed/X7bHe--mp1g" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
         <h3>The Cave</h3>
         <iframe width="555" height="300" src="https://www.youtube.com/embed/fNy8llTLvuA" frameborder="0" allowfullscreen></iframe>
      </div>
   </div>
</div>