<div class="body-container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2>The Hooties</h2>
                        <p>This site was created in AngularJS</p>
                    </div>     
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="assets\images\hooties-high.png" height="600" width="900">
                    </div>
                </div>
</div>     